@import "variables";

.note {
	cursor: pointer;
	font-size: 1.4rem;
	background-color: beige;
	border: 0;
	border-bottom: 1px solid black;
	display: flex;
	justify-content: center;
	line-height: $note-size;
	outline: 0;
	width: 100%;
	height: 100%;

	&[aria-pressed="true"] {
		color: white;
		background-color: darkred;
		&:hover {
			color: white;
		}
	}

	&[data-minor=true],&[data-major=true]{
		font-size: 0.8em;
	}

	&:hover {
		color: darkred;
	}

	&:focus-within {
		outline: darkred;
	}

	&[data-fret="0"] {
		background-color: white;
		&[aria-pressed="true"] {
			color: white;
			background-color: darkred;
			&:hover {
				color: white;
			}
		}
	}

	&:not([data-fret="0"]) {
		&[data-last-string="true"]::before {
			position: absolute;
			line-height: 0;
			transform: translate(-5rem, $note-size);
			font-size: 1.5rem;
			min-width: 2ch;
			content: attr(data-fret);
			color: black;
		}
	}
}
