$note-size: 3rem;
$note-background:white;
$note-font-size: 1.5rem;
$note-font-family:'Courier';
$note-font-color-rest: black;
$note-background-hover:beige;
$note-hover: darkred;
$note-pressed: darkblue;

*, *::after, *::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 10px;
}

menu {
	font-size:1.4rem;
	label {
		display:block;
	}
}

header {
	padding: 1rem;
	h1 {
		font-size: 2.5em;
		text-align: center;
	}
}

main {
	display: flex;
	flex-direction: row;
}

[id=instrument] {
	flex: 1;

	&:not([data-display*=note]){
		.note:not([data-major],[data-minor]) span {
			opacity:0;
		};
	}
	&:not([data-display*=major]){
		.note[data-major] span {
			opacity:0;
		};
	}
	&:not([data-display*=minor]){
		.note[data-minor] span {
			opacity:0;
		};
	}
	&:not([data-display*=fret]){
		.note:after{
			content:none;
		};
	}
}

.note {
	appearance:none;
	display:flex;
	border: 0;
	cursor: pointer;
	line-height:2rem;
	width: $note-size;
	height: $note-size;
	background-color: $note-background;
	border-bottom:1px solid black;

	span {
		font-family: $note-font-family;
		font-size: $note-font-size;
		color: $note-font-color-rest;
		font-size:1.3rem;
		line-height:2.8rem;
		min-height:100%;
		min-width:100%;
	}

	&:hover {
		color: $note-hover;
		background-color: $note-background-hover;
	}

	&[aria-pressed="true"] {
	}

	&[data-minor=true],
	&[data-major=true] {
		span{
			// opacity:0.5;
		}
	}

	// show frests
	&[data-string="1"]:after{
		color:black;
		content:attr(data-fret);
		display:flex;
		position:relative;
		font-size:1rem;
		width: 16px;
		height: 16px;
		right:-1rem;
		top:2rem;
	}
}

.footer {
	color: darkolivegreen;
	border-top: 1px solid darkolivegreen;
	font-size: 2rem;
	margin: auto;
	margin-top: 2rem;
	text-align: center;
	width: min(50vh, 100%);
}

.arm {
	border: 1px solid black;
	border-top:0;
	display: flex;
	flex-direction:row;
	font-size:2em;
	margin: auto;
	max-width: fit-content;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

